.headerBG {
    background-image: image("images/space-v1.jpg");
}



.quote {
    display: block;
    height: 325px;
    background-color: #6f666b;
    color: #fff;

}

.bg-dark {
    background-color: #000000 !important;
}


.logo {
        font-weight: 100;
    font-family: 'Crimson Text', serif;
    color: #a8a3a8;
    font-size: 120%;
}

.menu {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #ecd9c6;
}

.subject {
color: #303030;
font-family: 'Open Sans', sans-serif;
font-weight: 300;    
}

.introduction {
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.customFooter {
    display: block;
    width: 100%;
    height: 250px;
    color: #4d4d4d;
    background-color: #a8a3a8;
    
}

q, 
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
    width: 60%;
    margin: 0 auto;
    padding-top: 6%;
    font-size: 190%;
    font-weight: 100;
    font-family: 'Crimson Text', serif;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }